In [2]:
pip install nasdaq-data-link

Requirement already satisfied: nasdaq-data-link in c:\users\k mohan\anaconda3\lib\site-packages (1.0.4)
Requirement already satisfied: requests>=2.7.0 in c:\users\k mohan\anaconda3\lib\site-packages (from nasdaq-data-link) (2.27.1)
Requirement already satisfied: more-itertools in c:\users\k mohan\anaconda3\lib\site-packages (from nasdaq-data-link) (9.0.0)
Requirement already satisfied: python-dateutil in c:\users\k mohan\anaconda3\lib\site-packages (from nasdaq-data-link) (2.8.2)
Requirement already satisfied: pandas>=0.14 in c:\users\k mohan\anaconda3\lib\site-packages (from nasdaq-data-link) (1.4.2)
Requirement already satisfied: inflection>=0.3.1 in c:\users\k mohan\anaconda3\lib\site-packages (from nasdaq-data-link) (0.5.1)
Requirement already satisfied: six in c:\users\k mohan\anaconda3\lib\site-packages (from nasdaq-data-link) (1.16.0)
Requirement already satisfied: numpy>=1.8 in c:\users\k mohan\anaconda3\lib\site-packages (from nasdaq-data-link) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\k mohan\anaconda3\lib\site-packages (from pandas>=0.14->nasdaq-data-link) (2021.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\k mohan\anaconda3\lib\site-packages (from requests>=2.7.0->nasdaq-data-link) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\k mohan\anaconda3\lib\site-packages (from requests>=2.7.0->nasdaq-data-link) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\k mohan\anaconda3\lib\site-packages (from requests>=2.7.0->nasdaq-data-link) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\k mohan\anaconda3\lib\site-packages (from requests>=2.7.0->nasdaq-data-link) (2021.10.8)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import nasdaqdatalink

In [4]:
!pip install yfinance
!pip install yahoofinancials

Requirement already satisfied: yfinance in c:\users\k mohan\anaconda3\lib\site-packages (0.1.84)
Requirement already satisfied: numpy>=1.15 in c:\users\k mohan\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: lxml>=4.5.1 in c:\users\k mohan\anaconda3\lib\site-packages (from yfinance) (4.8.0)
Requirement already satisfied: requests>=2.26 in c:\users\k mohan\anaconda3\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\k mohan\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in c:\users\k mohan\anaconda3\lib\site-packages (from yfinance) (1.4.2)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\k mohan\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\k mohan\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\k mohan\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\k mohan\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\k mohan\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\k mohan\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\k mohan\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\k mohan\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: yahoofinancials in c:\users\k mohan\anaconda3\lib\site-packages (1.6)
Requirement already satisfied: pytz in c:\users\k mohan\anaconda3\lib\site-packages (from yahoofinancials) (2021.3)
Requirement already satisfied: beautifulsoup4 in c:\users\k mohan\anaconda3\lib\site-packages (from yahoofinancials) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\k mohan\anaconda3\lib\site-packages (from beautifulsoup4->yahoofinancials) (2.3.1)

In [5]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [6]:
import numpy as np

In [7]:
def ewi(x):
    
    yahoo_financials = YahooFinancials(x)
    data = yahoo_financials.get_historical_price_data(start_date='2007-01-05', 
                                                  end_date='2021-11-26', 
                                                  time_interval='daily')
    df = pd.DataFrame(data[x]['prices'])
    df = df.drop('date', axis=1).set_index('formatted_date')
    return df

In [8]:
df_1=ewi('^VIX')
df_2=ewi('CL=F')
df_3=ewi('NQ=F')
df_4=ewi('^N100')

In [9]:
df_5=pd.read_csv('C:/Users/K Mohan/Downloads/TEDRATE.csv')
df_6=pd.read_csv('C:/Users/K Mohan/Downloads/CPFFM.csv')

In [10]:
df_stfl=pd.read_csv('C:/Users/K Mohan/Downloads/STLFSI3.csv')

In [11]:
df_stfl

           DATE  STLFSI3
0    2007-01-05  -0.8583
1    2007-01-12  -1.0435
2    2007-01-19  -1.1829
3    2007-01-26  -1.2007
4    2007-02-02  -1.1258
..          ...      ...
773  2021-10-29  -0.6669
774  2021-11-05  -0.5493
775  2021-11-12  -0.6681
776  2021-11-19  -0.7063
777  2021-11-26  -0.4385

[778 rows x 2 columns]

In [12]:
df_stfl=df_stfl.set_index(pd.to_datetime(df_stfl.DATE,format='%Y-%m-%d'))
df_stfl

                  DATE  STLFSI3
DATE
2007-01-05  2007-01-05  -0.8583
2007-01-12  2007-01-12  -1.0435
2007-01-19  2007-01-19  -1.1829
2007-01-26  2007-01-26  -1.2007
2007-02-02  2007-02-02  -1.1258
...                ...      ...
2021-10-29  2021-10-29  -0.6669
2021-11-05  2021-11-05  -0.5493
2021-11-12  2021-11-12  -0.6681
2021-11-19  2021-11-19  -0.7063
2021-11-26  2021-11-26  -0.4385

[778 rows x 2 columns]

In [13]:
df_stfl=df_stfl.drop('DATE',axis=1)

In [14]:
df_stfl3=df_stfl.resample('1D').bfill().reset_index()

In [15]:
df_stfl3.dtypes

DATE       datetime64[ns]
STLFSI3           float64
dtype: object

In [16]:
df_stfl_weekdays=df_stfl3[df_stfl3.DATE.dt.weekday < 5]

In [17]:
df_stfl_weekdays=df_stfl_weekdays.reset_index()

In [18]:
df_stfl_weekdays

      index       DATE  STLFSI3
0         0 2007-01-05  -0.8583
1         3 2007-01-08  -1.0435
2         4 2007-01-09  -1.0435
3         5 2007-01-10  -1.0435
4         6 2007-01-11  -1.0435
...     ...        ...      ...
3881   5435 2021-11-22  -0.4385
3882   5436 2021-11-23  -0.4385
3883   5437 2021-11-24  -0.4385
3884   5438 2021-11-25  -0.4385
3885   5439 2021-11-26  -0.4385

[3886 rows x 3 columns]

In [19]:
df_6=df_6.set_index(pd.to_datetime(df_6.DATE,format='%Y-%m-%d'))

In [20]:
df_6=df_6.drop('DATE',axis=1)
df_6_daily=df_6.resample('1D').bfill().reset_index()

In [21]:
df_6_daily=df_6_daily.loc[(df_6_daily.DATE>'2007-01-04')&(df_6_daily.DATE<'2021-11-27')]

In [79]:
df_6_daily.isna().sum()

DATE     0
CPFFM    0
dtype: int64

In [23]:
df_6_weekday=df_6_daily[df_6_daily.DATE.dt.weekday < 5].reset_index(drop='True')

In [80]:
df_6_weekday.isna().sum()

DATE     0
CPFFM    0
dtype: int64

In [25]:
df_volatality=df_1.reset_index(drop=False)

In [26]:
df_volatality=df_volatality.rename(columns={'formatted_date':'DATE'})
df_volatality

,DATE,high,low,open,close,volume,adjclose
0,2007-01-05,12.250000,11.680000,11.840000,12.140000,0,12.140000
1,2007-01-08,12.830000,11.780000,12.480000,12.000000,0,12.000000
2,2007-01-09,12.470000,11.690000,11.860000,11.910000,0,11.910000
3,2007-01-10,12.500000,11.430000,12.340000,11.470000,0,11.470000
4,2007-01-11,11.480000,10.500000,11.420000,10.870000,0,10.870000
...,...,...,...,...,...,...,...
3745,2021-11-18,18.150000,16.379999,16.809999,17.590000,0,17.590000
3746,2021-11-19,19.010000,17.230000,17.360001,17.910000,0,17.910000
3747,2021-11-22,19.590000,17.350000,18.200001,19.170000,0,19.170000
3748,2021-11-23,20.910000,19.030001,20.240000,19.379999,0,19.379999
3749,2021-11-24,20.959999,18.520000,19.170000,18.580000,0,18.580000

In [27]:
df_commodity=df_2.reset_index(drop=False)
df_commodity=df_commodity.rename(columns={'formatted_date':'DATE'})
df_commodity

,DATE,high,low,open,close,volume,adjclose
0,2007-01-05,56.400002,54.900002,55.410000,56.310001,250130.0,56.310001
1,2007-01-08,57.720001,55.099998,56.240002,56.090000,298727.0,56.090000
2,2007-01-09,56.200001,53.880001,56.119999,55.639999,333330.0,55.639999
3,2007-01-10,55.810001,53.439999,55.750000,54.020000,282508.0,54.020000
4,2007-01-11,54.730000,51.799999,53.590000,51.880001,341657.0,51.880001
...,...,...,...,...,...,...,...
3748,2021-11-19,79.919998,75.370003,78.760002,76.099998,623448.0,76.099998
3749,2021-11-22,77.160004,74.760002,75.750000,76.750000,465768.0,76.750000
3750,2021-11-23,78.860001,75.300003,76.459999,78.500000,506987.0,78.500000
3751,2021-11-24,79.230003,77.980003,78.480003,78.389999,328848.0,78.389999
3752,2021-11-25,78.650002,77.760002,78.339996,78.029999,328848.0,78.029999

In [28]:
df_futures=df_3.reset_index(drop=False)
df_futures=df_futures.rename(columns={'formatted_date':'DATE'})
df_futures

            DATE      high       low      open     close    volume  adjclose
0     2007-01-05   1816.00   1785.75   1812.75   1797.25  353652.0   1797.25
1     2007-01-08   1812.25   1792.25   1798.00   1803.50  267087.0   1803.50
2     2007-01-09   1818.75   1792.00   1803.75   1810.50  355926.0   1810.50
3     2007-01-10   1835.50   1798.00   1810.75   1834.50  362452.0   1834.50
4     2007-01-11   1856.50   1830.25   1835.00   1849.75  400929.0   1849.75
...          ...       ...       ...       ...       ...       ...       ...
3748  2021-11-19  16628.50  16490.25  16503.25  16575.00  549031.0  16575.00
3749  2021-11-22  16767.50  16364.50  16600.25  16382.00  770668.0  16382.00
3750  2021-11-23  16418.75  16118.50  16399.00  16312.00  901449.0  16312.00
3751  2021-11-24  16368.50  16102.00  16300.25  16366.00  656267.0  16366.00
3752  2021-11-25  16436.00  16352.25  16360.00  16404.50  656267.0  16404.50

[3753 rows x 7 columns]

In [29]:
df_equity=df_4.reset_index(drop=False)
df_equity=df_equity.rename(columns={'formatted_date':'DATE'})
df_equity

,DATE,high,low,open,close,volume,adjclose
0,2007-01-05,966.030029,957.669983,963.700012,957.669983,278706500.0,957.669983
1,2007-01-08,963.739990,957.219971,961.299988,958.690002,265474600.0,958.690002
2,2007-01-09,966.849976,962.070007,963.609985,962.500000,334526600.0,962.500000
3,2007-01-10,960.750000,954.010010,958.989990,957.919983,306054000.0,957.919983
4,2007-01-11,973.969971,960.409973,961.739990,973.969971,345474100.0,973.969971
...,...,...,...,...,...,...,...
3804,2021-11-19,1387.400024,1367.349976,1385.130005,1372.650024,263644200.0,1372.650024
3805,2021-11-22,1378.400024,1367.640015,1376.170044,1367.739990,208677800.0,1367.739990
3806,2021-11-23,1364.900024,1345.849976,1356.079956,1351.770020,180921300.0,1351.770020
3807,2021-11-24,1359.709961,1340.869995,1354.660034,1353.390015,193911200.0,1353.390015
3808,2021-11-25,1362.800049,1356.619995,1359.719971,1362.229980,122483600.0,1362.229980

In [30]:
df_ted=df_5.reset_index(drop=True)
df_ted=df_ted.rename(columns={'formatted_date':'DATE'})
df_ted.loc[df_ted['TEDRATE']=='.','TEDRATE']=np.nan
df_ted['TEDRATE']=df_ted['TEDRATE'].fillna(method='ffill')

In [31]:
df_ted['TEDRATE']=df_ted['TEDRATE'].astype(float)

In [32]:
df_ted['DATE']=pd.to_datetime(df_ted['DATE'])

In [81]:
df_cpffm=df_6_weekday.reset_index()
df_cpffm.loc[df_cpffm['CPFFM']=='.','CPFFM']=np.nan
df_cpffm['CPFFM']=df_cpffm['CPFFM'].fillna(method='ffill')

In [82]:

df_cpffm['CPFFM']=df_cpffm['CPFFM'].astype(float)

In [35]:
df_volatality

,DATE,high,low,open,close,volume,adjclose
0,2007-01-05,12.250000,11.680000,11.840000,12.140000,0,12.140000
1,2007-01-08,12.830000,11.780000,12.480000,12.000000,0,12.000000
2,2007-01-09,12.470000,11.690000,11.860000,11.910000,0,11.910000
3,2007-01-10,12.500000,11.430000,12.340000,11.470000,0,11.470000
4,2007-01-11,11.480000,10.500000,11.420000,10.870000,0,10.870000
...,...,...,...,...,...,...,...
3745,2021-11-18,18.150000,16.379999,16.809999,17.590000,0,17.590000
3746,2021-11-19,19.010000,17.230000,17.360001,17.910000,0,17.910000
3747,2021-11-22,19.590000,17.350000,18.200001,19.170000,0,19.170000
3748,2021-11-23,20.910000,19.030001,20.240000,19.379999,0,19.379999
3749,2021-11-24,20.959999,18.520000,19.170000,18.580000,0,18.580000

In [36]:
for col in df_volatality.columns:
    df_volatality[col+'_lag1']=df_volatality[col].shift(1)

In [37]:
for col in df_commodity.columns:
    df_commodity[col+'_lag1']=df_commodity[col].shift(1)

In [38]:
for col in df_futures.columns:
    df_futures[col+'_lag1']=df_futures[col].shift(1)

In [39]:
for col in df_equity.columns:
    df_equity[col+'_lag1']=df_equity[col].shift(1)

In [40]:

df_ted['TEDRATE_lag1']=df_ted['TEDRATE'].shift(1)

In [41]:
l1=['high', 'low', 'open', 'close', 'volume', 'adjclose']
for col in l1:
    df_volatality['log_return_'+col]=np.log(df_volatality[col]/df_volatality[col+'_lag1'])
    df_volatality['7-day_std_'+col] = df_volatality[col].rolling(7).std()
df_volatality['high_low']= (df_volatality['high']-df_volatality['low'])/df_volatality['low']

In [42]:
df_volatality_transformed = df_volatality[['DATE','log_return_high', '7-day_std_high',
       'log_return_low', '7-day_std_low', 'log_return_open', '7-day_std_open',
       'log_return_close', '7-day_std_close', 'log_return_volume',
       '7-day_std_volume', 'log_return_adjclose', '7-day_std_adjclose',
       'high_low']]

In [43]:
l1=['high', 'low', 'open', 'close', 'volume', 'adjclose']
for col in l1:
    df_commodity['log_return_'+col]=np.log(df_commodity[col]/df_commodity[col+'_lag1'])
    df_commodity['7-day_std_'+col] = df_commodity[col].rolling(7).std()
df_commodity['high_low']= (df_commodity['high']-df_commodity['low'])/df_commodity['low']

C:\Users\K Mohan\anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\K Mohan\anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\K Mohan\anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\K Mohan\anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [44]:
df_commodity_transformed=df_commodity[['DATE','log_return_high', '7-day_std_high',
       'log_return_low', '7-day_std_low', 'log_return_open', '7-day_std_open',
       'log_return_close', '7-day_std_close', 'log_return_close',
       '7-day_std_volume', 'log_return_adjclose', '7-day_std_adjclose',
       'high_low']]

In [45]:
l1=['high', 'low', 'open', 'close', 'volume', 'adjclose']
for col in l1:
    df_futures['log_return_'+col]=np.log(df_futures[col]/df_futures[col+'_lag1'])
    
df_futures['high_low']= (df_futures['high']-df_futures['low'])/df_futures['low']

C:\Users\K Mohan\anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [46]:
df_futures_transformed=df_futures[['DATE','log_return_high','log_return_low','log_return_open','log_return_close','log_return_close','log_return_adjclose','high_low']]

In [47]:
df_futures_transformed

,DATE,log_return_high,log_return_low,log_return_open,log_return_close,log_return_close,log_return_adjclose,high_low
0,2007-01-05,NaN,NaN,NaN,NaN,NaN,NaN,0.016940
1,2007-01-08,-0.002067,0.003633,-0.008170,0.003472,0.003472,0.003472,0.011159
2,2007-01-09,0.003580,-0.000139,0.003193,0.003874,0.003874,0.003874,0.014927
3,2007-01-10,0.009167,0.003343,0.003873,0.013169,0.013169,0.013169,0.020857
4,2007-01-11,0.011376,0.017778,0.013303,0.008279,0.008279,0.008279,0.014342
...,...,...,...,...,...,...,...,...
3748,2021-11-19,0.007273,0.011389,0.011013,0.005672,0.005672,0.005672,0.008384
3749,2021-11-22,0.008324,-0.007655,0.005860,-0.011712,-0.011712,-0.011712,0.024626
3750,2021-11-23,-0.021019,-0.015147,-0.012197,-0.004282,-0.004282,-0.004282,0.018628
3751,2021-11-24,-0.003065,-0.001024,-0.006040,0.003305,0.003305,0.003305,0.016551
3752,2021-11-25,0.004115,0.015422,0.003659,0.002350,0.002350,0.002350,0.005122

In [48]:
l1=['high', 'low', 'open', 'close', 'volume', 'adjclose']
for col in l1:
    df_equity['log_return_'+col]=np.log(df_equity[col]/df_equity[col+'_lag1'])
    df_equity['7-day_std_'+col] = df_equity[col].rolling(7).std()
df_equity['high_low']= (df_equity['high']-df_equity['low'])/df_equity['low']

C:\Users\K Mohan\anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [49]:
df_equity_transformed=df_equity[['DATE','log_return_high', '7-day_std_high',
       'log_return_low', '7-day_std_low', 'log_return_open', '7-day_std_open',
       'log_return_close', '7-day_std_close', 'log_return_close',
       '7-day_std_volume', 'log_return_adjclose', '7-day_std_adjclose',
       'high_low']]

In [50]:
df_ted['spread']=df_ted['TEDRATE']-df_ted['TEDRATE_lag1']

In [51]:
df_ted_transformed=df_ted[['DATE','spread']]

In [83]:
 df_cpffm['7-day_std_'+'CPFFM'] = df_cpffm['CPFFM'].rolling(7).std()

In [84]:
 df_cpffm_transformed= df_cpffm[['DATE','7-day_std_CPFFM']]

In [54]:
df_volatality_transformed.columns=['DATE','log_return_high_vol', '7-day_std_high_vol',
       'log_return_low_vol', '7-day_std_low_vol', 'log_return_open_vol', '7-day_std_open_vol',
       'log_return_close_vol', '7-day_std_close_vol', 'log_return_volume_vol',
       '7-day_std_volume_vol', 'log_return_adjclose_vol', '7-day_std_adjclose_vol',
       'high_low_vol']

In [55]:
df_volatality

,DATE,high,low,open,close,volume,adjclose,DATE_lag1,high_lag1,low_lag1,...,7-day_std_low,log_return_open,7-day_std_open,log_return_close,7-day_std_close,log_return_volume,7-day_std_volume,log_return_adjclose,7-day_std_adjclose,high_low
0,2007-01-05,12.250000,11.680000,11.840000,12.140000,0,12.140000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.048801
1,2007-01-08,12.830000,11.780000,12.480000,12.000000,0,12.000000,2007-01-05,12.250000,11.680000,...,NaN,0.052644,NaN,-0.011599,NaN,NaN,NaN,-0.011599,NaN,0.089134
2,2007-01-09,12.470000,11.690000,11.860000,11.910000,0,11.910000,2007-01-08,12.830000,11.780000,...,NaN,-0.050956,NaN,-0.007528,NaN,NaN,NaN,-0.007528,NaN,0.066724
3,2007-01-10,12.500000,11.430000,12.340000,11.470000,0,11.470000,2007-01-09,12.470000,11.690000,...,NaN,0.039675,NaN,-0.037643,NaN,NaN,NaN,-0.037643,NaN,0.093613
4,2007-01-11,11.480000,10.500000,11.420000,10.870000,0,10.870000,2007-01-10,12.500000,11.430000,...,NaN,-0.077480,NaN,-0.053728,NaN,NaN,NaN,-0.053728,NaN,0.093333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,2021-11-18,18.150000,16.379999,16.809999,17.590000,0,17.590000,2021-11-17,17.190001,16.280001,...,0.500495,0.027135,0.667076,0.027667,0.887894,NaN,0.0,0.027667,0.887894,0.108059
3746,2021-11-19,19.010000,17.230000,17.360001,17.910000,0,17.910000,2021-11-18,18.150000,16.379999,...,0.502750,0.032195,0.633546,0.018029,0.678208,NaN,0.0,0.018029,0.678208,0.103308
3747,2021-11-22,19.590000,17.350000,18.200001,19.170000,0,19.170000,2021-11-19,19.010000,17.230000,...,0.522444,0.047253,0.591592,0.067987,1.042926,NaN,0.0,0.067987,1.042926,0.129107
3748,2021-11-23,20.910000,19.030001,20.240000,19.379999,0,19.379999,2021-11-22,19.590000,17.350000,...,1.032295,0.106239,1.316870,0.010895,1.198509,NaN,0.0,0.010895,1.198509,0.098791
3749,2021-11-24,20.959999,18.520000,19.170000,18.580000,0,18.580000,2021-11-23,20.910000,19.030001,...,1.153054,-0.054314,1.420008,-0.042156,1.097965,NaN,0.0,-0.042156,1.097965,0.131749

In [56]:
df_commodity_transformed.columns=['DATE','log_return_high_com', '7-day_std_high_com',
       'log_return_low_com', '7-day_std_low_com', 'log_return_open_com', '7-day_std_open_com',
       'log_return_close_com', '7-day_std_close_com', 'log_return_close_com',
       '7-day_std_volume_com', 'log_return_adjclose_com', '7-day_std_adjclose_com',
       'high_low_com']

In [57]:
df_futures_transformed.columns=['DATE','log_return_high_fut','log_return_low_fut','log_return_open_fut','log_return_close_fut','log_return_close_fut','log_return_adjclose_fut','high_low_fut']

In [58]:
df_equity_transformed.columns=['DATE','log_return_high_equ', '7-day_std_high_equ',
       'log_return_low_equ', '7-day_std_low_equ', 'log_return_open_equ', '7-day_std_open_equ',
       'log_return_close_equ', '7-day_std_close_equ', 'log_return_close_equ',
       '7-day_std_volume_equ', 'log_return_adjclose_equ', '7-day_std_adjclose_equ',
       'high_low_equ']

In [85]:
data_frames = [df_volatality_transformed,df_commodity_transformed ,df_futures_transformed,df_equity_transformed,df_ted_transformed,
              df_cpffm_transformed]

In [60]:
df_volatality_transformed['DATE']=pd.to_datetime(df_volatality_transformed['DATE'])
df_commodity_transformed['DATE']=pd.to_datetime(df_commodity_transformed['DATE'])
df_futures_transformed['DATE']=pd.to_datetime(df_futures_transformed['DATE'])
df_equity_transformed['DATE']=pd.to_datetime(df_equity_transformed['DATE'])

C:\Temp\ipykernel_1860\2282184674.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_volatality_transformed['DATE']=pd.to_datetime(df_volatality_transformed['DATE'])
C:\Temp\ipykernel_1860\2282184674.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_commodity_transformed['DATE']=pd.to_datetime(df_commodity_transformed['DATE'])
C:\Temp\ipykernel_1860\2282184674.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_futures_transformed['DATE']=pd.to_datetime(df_futures_transformed['DATE'])
C:\Temp\ipykernel_1860\2282184674.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_equity_transformed['DATE']=pd.to_datetime(df_equity_transformed['DATE'])

In [86]:
from functools import reduce
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['DATE'],
                                            how='outer'), data_frames)

In [65]:
df_merged

,DATE,log_return_high_vol,7-day_std_high_vol,log_return_low_vol,7-day_std_low_vol,log_return_open_vol,7-day_std_open_vol,log_return_close_vol,7-day_std_close_vol,log_return_volume_vol,...,7-day_std_open_equ,log_return_close_equ,7-day_std_close_equ,log_return_close_equ,7-day_std_volume_equ,log_return_adjclose_equ,7-day_std_adjclose_equ,high_low_equ,spread,7-day_std_CPFFM
0,2007-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.008730,NaN,NaN
1,2007-01-08,0.046260,NaN,0.008525,NaN,0.052644,NaN,-0.011599,NaN,NaN,...,NaN,0.001065,NaN,0.001065,NaN,0.001065,NaN,0.006811,-0.03,NaN
2,2007-01-09,-0.028460,NaN,-0.007669,NaN,-0.050956,NaN,-0.007528,NaN,NaN,...,NaN,0.003966,NaN,0.003966,NaN,0.003966,NaN,0.004968,0.00,NaN
3,2007-01-10,0.002403,NaN,-0.022492,NaN,0.039675,NaN,-0.037643,NaN,NaN,...,NaN,-0.004770,NaN,-0.004770,NaN,-0.004770,NaN,0.007065,-0.01,NaN
4,2007-01-11,-0.085122,NaN,-0.084866,NaN,-0.077480,NaN,-0.053728,NaN,NaN,...,NaN,0.016616,NaN,0.016616,NaN,0.016616,NaN,0.014119,-0.02,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3934,2020-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.314575
3935,2020-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.035989
3936,2021-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.019518
3937,2021-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.016036
3938,2021-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.032367

In [87]:
df_merged=df_merged.dropna(axis=1, how='all')  #dropping column which has all null values

In [88]:
df_merged.isna().sum()

DATE                         0
log_return_high_vol        137
7-day_std_high_vol         142
log_return_low_vol         137
7-day_std_low_vol          142
log_return_open_vol        137
7-day_std_open_vol         142
log_return_close_vol       137
7-day_std_close_vol        142
7-day_std_volume_vol       142
log_return_adjclose_vol    137
7-day_std_adjclose_vol     142
high_low_vol               136
log_return_high_com        142
7-day_std_high_com         167
log_return_low_com         144
7-day_std_low_com          167
log_return_open_com        144
7-day_std_open_com         167
log_return_close_com       144
7-day_std_close_com        167
log_return_close_com       144
7-day_std_volume_com       167
log_return_adjclose_com    144
7-day_std_adjclose_com     167
high_low_com               137
log_return_high_fut        142
log_return_low_fut         142
log_return_open_fut        142
log_return_close_fut       142
log_return_close_fut       142
log_return_adjclose_fut    142
high_low_fut               137
log_return_high_equ         84
7-day_std_high_equ         104
log_return_low_equ          84
7-day_std_low_equ          104
log_return_open_equ         84
7-day_std_open_equ         104
log_return_close_equ        84
7-day_std_close_equ        104
log_return_close_equ        84
7-day_std_volume_equ       104
log_return_adjclose_equ     84
7-day_std_adjclose_equ     104
high_low_equ                80
spread                       1
7-day_std_CPFFM              6
dtype: int64

In [89]:
df_merged1=df_merged.dropna()
df_merged1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3660 entries, 12 to 3749
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DATE                     3660 non-null   datetime64[ns]
 1   log_return_high_vol      3660 non-null   float64
 2   7-day_std_high_vol       3660 non-null   float64
 3   log_return_low_vol       3660 non-null   float64
 4   7-day_std_low_vol        3660 non-null   float64
 5   log_return_open_vol      3660 non-null   float64
 6   7-day_std_open_vol       3660 non-null   float64
 7   log_return_close_vol     3660 non-null   float64
 8   7-day_std_close_vol      3660 non-null   float64
 9   7-day_std_volume_vol     3660 non-null   float64
 10  log_return_adjclose_vol  3660 non-null   float64
 11  7-day_std_adjclose_vol   3660 non-null   float64
 12  high_low_vol             3660 non-null   float64
 13  log_return_high_com      3660 non-null   float64
 14  7-day_std_high_com       3660 non-null   float64
 15  log_return_low_com       3660 non-null   float64
 16  7-day_std_low_com        3660 non-null   float64
 17  log_return_open_com      3660 non-null   float64
 18  7-day_std_open_com       3660 non-null   float64
 19  log_return_close_com     3660 non-null   float64
 20  7-day_std_close_com      3660 non-null   float64
 21  log_return_close_com     3660 non-null   float64
 22  7-day_std_volume_com     3660 non-null   float64
 23  log_return_adjclose_com  3660 non-null   float64
 24  7-day_std_adjclose_com   3660 non-null   float64
 25  high_low_com             3660 non-null   float64
 26  log_return_high_fut      3660 non-null   float64
 27  log_return_low_fut       3660 non-null   float64
 28  log_return_open_fut      3660 non-null   float64
 29  log_return_close_fut     3660 non-null   float64
 30  log_return_close_fut     3660 non-null   float64
 31  log_return_adjclose_fut  3660 non-null   float64
 32  high_low_fut             3660 non-null   float64
 33  log_return_high_equ      3660 non-null   float64
 34  7-day_std_high_equ       3660 non-null   float64
 35  log_return_low_equ       3660 non-null   float64
 36  7-day_std_low_equ        3660 non-null   float64
 37  log_return_open_equ      3660 non-null   float64
 38  7-day_std_open_equ       3660 non-null   float64
 39  log_return_close_equ     3660 non-null   float64
 40  7-day_std_close_equ      3660 non-null   float64
 41  log_return_close_equ     3660 non-null   float64
 42  7-day_std_volume_equ     3660 non-null   float64
 43  log_return_adjclose_equ  3660 non-null   float64
 44  7-day_std_adjclose_equ   3660 non-null   float64
 45  high_low_equ             3660 non-null   float64
 46  spread                   3660 non-null   float64
 47  7-day_std_CPFFM          3660 non-null   float64
dtypes: datetime64[ns](1), float64(47)
memory usage: 1.4 MB

In [120]:
data=df_merged1.merge(df_stfl_weekdays,on='DATE',how='left')

In [121]:
data=data.drop('index',axis=1)

In [122]:
data.loc[data['STLFSI3']>1.5,'label']='red'
data.loc[data['STLFSI3']<-0.6,'label']='amber'
data.loc[data['label'].isna(),'label']='green'

In [123]:
data.label.value_counts()

green    2617
amber     749
red       294
Name: label, dtype: int64

In [124]:
from sklearn.model_selection import train_test_split

In [125]:
X=data.drop('label',axis=1)
y=data['label']

In [127]:
X_train, X_test,y_train, y_test = train_test_split(X,y ,random_state=104, test_size=0.25, shuffle=False)

Requirement already satisfied: scikit-learn in c:\users\k mohan\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\k mohan\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\k mohan\appdata\roaming\python\python39\site-packages (from scikit-learn) (1.9.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\k mohan\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: joblib>=1.0.0 in c:\users\k mohan\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)

In [138]:
!pip install imblearn

Requirement already satisfied: imblearn in c:\users\k mohan\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\k mohan\anaconda3\lib\site-packages (from imblearn) (0.9.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\k mohan\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\k mohan\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\k mohan\appdata\roaming\python\python39\site-packages (from imbalanced-learn->imblearn) (1.9.1)
Requirement already satisfied: scikit-learn>=1.1.0 in c:\users\k mohan\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in c:\users\k mohan\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.1.0)

In [142]:
import imblearn
from imblearn.ensemble import RUSBoostClassifier

AttributeError: module 'sklearn.metrics._dist_metrics' has no attribute 'DatasetsPair'

In [145]:
!pip uninstall sklearn --user

Usage:
  pip uninstall [options] <package> ...
  pip uninstall [options] -r <requirements file> ...

no such option: --user

In [141]:
!pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: scikit-learn in c:\users\k mohan\anaconda3\lib\site-packages (from sklearn) (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in c:\users\k mohan\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\k mohan\appdata\roaming\python\python39\site-packages (from scikit-learn->sklearn) (1.9.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\k mohan\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\k mohan\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.2.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=d8e5abe76474200c1212c7771d5bb00b5172ad155866bcc8cc05e7179f5c846a
  Stored in directory: c:\users\k mohan\appdata\local\pip\cache\wheels\e4\7b\98\b6466d71b8d738a0c547008b9eb39bf8676d1ff6ca4b22af1c
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [144]:
!pip install --upgrade pip

Requirement already satisfied: pip in c:\users\k mohan\anaconda3\lib\site-packages (21.2.4)
Collecting pip
  Downloading pip-22.3-py3-none-any.whl (2.1 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.2.4
    Uninstalling pip-21.2.4:
      Successfully uninstalled pip-21.2.4

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Temp\\pip-uninstall-qmbbdhs4\\pip.exe'
Consider using the `--user` option or check the permissions.

In [146]:
!pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\users\k mohan\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\k mohan\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\k mohan\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\k mohan\appdata\roaming\python\python39\site-packages (from scikit-learn) (1.9.1)
Requirement already satisfied: joblib>=1.0.0 in c:\users\k mohan\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)

In [147]:
from sklearn.ensemble import RandomForestClassifier

AttributeError: module 'sklearn.metrics._dist_metrics' has no attribute 'DatasetsPair'